factgenie/config.yml
factgenie/loaders/datasets.yml
__pycache__/
*.py[cod]
# data
*.egg-info
export/datasets
tmp
.python-version
.idea
.DS_Store
env/
*.log
.venv
.vscode
build
venv/
wiki
factgenie/annotations
factgenie/generations
factgenie/outputs
factgenie/templates/campaigns/*
!factgenie/templates/campaigns/*.*