__pycache__/
*.py[cod]
*.egg-info
export/datasets
tmp
.python-version
.idea
.DS_Store
env/
*.log
.venv
.vscode
build
dist
venv/
wiki

# Here we track these externally
factgenie/campaigns
factgenie/data
factgenie/config
