<!DOCTYPE html>
<html>

<head>
  <title>Annotate claims about a table</title>
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <meta name="viewport" content="width=1024">
  <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
  <script src="{{ host_prefix }}/static/js/jsonview.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/windbarb.js"></script>
  <script src="https://code.highcharts.com/modules/pattern-fill.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
  <script src="{{ host_prefix }}/static/js/meteogram.js"></script>
  <script src="//underscorejs.org/underscore-min.js"></script>
  <script src="//backbonejs.org/backbone-min.js"></script>
  <script src="{{ host_prefix }}/static/js/backbone-relational.js"></script>
  <script src="{{ host_prefix }}/static/js/backbone.marionette.min.js"></script>
  <script src="{{ host_prefix }}/static/js/underscore.string.min.js"></script>
  <script src="{{ host_prefix }}/static/js/ypet.js"></script>
</head>


<body class="body">
  <nav class="navbar navbar-light bg-annotate">
    <div class="container navbar-left">
      <a class="navbar-brand" href="#">
      </a>
      <div class="navblock" id="actions-area">
        <ul class="pagination" id="nav-example-cnt">
        </ul>

      </div>
      <div class="navblock">

        <ul class="pagination" style="margin-left: 10px;">
          <li class="page-item">
            <button type="button" class="btn btn-sm btn-success" id="submit-annotations-btn"
              onclick="submitAnnotations();" style="display: none;">👉️ Submit annotations</button>
          </li>
      </div>
    </div>
  </nav>


  <div class="large-container container">
    <div class="row">
      <div class="split col-12">
        <div id="centerpanel" class="collapse show">
          <div class="tab-content">
            <div id='tabulararea' class="tab-pane sidepanel-panel active" role="tabpanel">
              <div class="d-flex align-items-center justify-content-center">
                <div id="dataset-spinner" class="spinner-border" role="status" style="display: none">
                  <span class="sr-only"></span>
                </div>
              </div>
              <div id='examplearea'> </div>
              <div id='rawarea' style="display: none"> </div>
            </div>
          </div>
        </div>
        <div id="rightpanel" class="collapse show">
          <div id='sidepanel-content' class="tab-content">

            <div class="accordion instructions-accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed instructions-accordion-button btn-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#instructions-acc-body">
                    <b>Instructions</b>
                  </button>
                </h2>
                <div id="instructions-acc-body" class="accordion-collapse collapse">
                    {% include 'campaigns/humeval-logicnlg-gpt4-2shotcot-factual-interesting/instructions.html' %}
                </div>
              </div>
            </div>

            <div id='output-content'>
              <div id='outputarea'>
                <div id='text-type-info'>
                  Please mark all the factually incorrect words and highlight what is interesting:
                </div>
              </div>

              <!-- <div class="annotation-type-list"> </div> -->
              <!-- <div class="annotation-list"> </div> -->
            </div>
            <div class="d-flex align-items-center justify-content-center" id="submit-annotation-box">
              <!-- checkbox for style -->
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-success" onclick="markAnnotationAsComplete();">✅ Mark
                  example as
                  complete</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="overlay-start" class="overlay">
    <div id="overlay-start-content" class="overlay-content">
      <h1>Welcome!</h1>

      <p>Please, make sure you are familiar with the instructions below. If you don't remember everything, don't worry –
        you will also have
        access to these instructions during the task.</p>

      {% include 'campaigns/humeval-logicnlg-gpt4-2shotcot-factual-interesting/instructions.html' %}
      <br>

      <button id="hideOverlayBtn" class="btn btn-danger">I understand, let's begin!</button>
    </div>
  </div>


  <div id="overlay-end" class="overlay" style="display: none">
    <div id="overlay-end-content" class="overlay-content">
      <h1>Thank you!</h1>

      <p>Your annotations have been submitted.</p>
      <p>Your Prolific completion code is <b>{{ compl_code }}</b>.</p>
      <a href="https://app.prolific.co/submissions/complete?cc={{ compl_code }}" class="btn btn-primary">Return to
        Prolific</a>
    </div>
  </div>



</body>


<script>
  window.url_prefix = "{{ host_prefix }}";
  window.annotation_set = {{ annotation_set | tojson | safe }};
  window.mode = "annotate";
  window.annotator_id = "{{ annotator_id }}";
  window.compl_code = "{{ compl_code }}";
  window.metadata = {{ metadata | tojson | safe }};
</script>

<script src="{{ host_prefix }}/static/js/factgenie.js"></script>
