<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLabel">About factgenie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="about-info" class="area-content">
                    <p><img src=" {{ host_prefix }}/static/img/genie.png" width="25px">
                        <span style="margin-left: 5px; font-weight: bold;">factgenie</span> is a toolkit for visualizing
                        and annotating
                        errors in LLM outputs.
                    </p>

                    <p>
                        Please report any issues at <a
                            href="https://github.com/ufal/factgenie">https://github.com/ufal/factgenie</a>.
                    </p>

                    <p>Available as open-source under MIT License.
                    </p>

                    <p>
                        © 2024 <a href="https://ufal.mff.cuni.cz/">
                            Institute of Formal and Applied
                            Linguistics, Charles University</a>.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>