<div class="small" id="metadata-example-cnt-{{ campaign_id }}">
    {{ campaign.stats.finished }} <i class="fa fa-check"></i>
    {{ campaign.stats.assigned }} <i class="fa fa-edit"></i>
    {{ campaign.stats.free }} <i class="fa fa-clock-o"></i></div>
<div class="progress" id="crowdsourcing-progress-{{ campaign.metadata.id }}-finished">
    <div class="progress-bar bg-finished" role="progressbar" id="crowdsourcing-progress-bar-{{ campaign.metadata.id }}"
        style="width: {{ (campaign.stats.finished) / (campaign.stats.total) * 100 }}%; ">
    </div>
    <div class="progress-bar bg-assigned" role="progressbar"
        id="crowdsourcing-progress-bar-{{ campaign.metadata.id }}-assigned"
        style="width: {{ (campaign.stats.assigned) / (campaign.stats.total) * 100 }}%; ">
    </div>
</div>