<!DOCTYPE html>
<html>

<head>
  <title>Annotations</title>
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <link rel="stylesheet" href="{{ host_prefix }}/static/css/font-awesome.css">
  <meta name="viewport" content="width=1024">
  <script src="{{ host_prefix }}/static/js/lib/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/bootstrap.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/jsonview.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/split.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/underscore-min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/backbone-min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/backbone-relational.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/backbone.marionette.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/underscore.string.min.js"></script>

  {% include 'crowdsourcing/custom.html' %}
</head>