<!-- Add custom JS libraries and CSS stylesheets needed for data visualizations  -->

<script src="{{ host_prefix }}/static/js/lib/highcharts.js"></script>
<script src="{{ host_prefix }}/static/js/lib/modules/windbarb.js"></script>
<script src="{{ host_prefix }}/static/js/lib/modules/pattern-fill.js"></script>
<script src="{{ host_prefix }}/static/js/lib/modules/data.js"></script>
<script src="{{ host_prefix }}/static/js/lib/modules/exporting.js"></script>
<script src="{{ host_prefix }}/static/js/lib/modules/accessibility.js"></script>
<script src="{{ host_prefix }}/static/js/lib/meteogram.js"></script>