<!DOCTYPE html>
<html>

<head>
  <title>factgenie</title>
  <meta name="viewport" content="width=1024">
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <link href="{{ host_prefix }}/static/css/font-awesome.css" rel="stylesheet">
  <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container w-50 mt-5">

    <div class="mt-5">
      <a href="{{ host_prefix }}/llm_campaign?mode={{ mode }}" class="btn btn-outline-secondary mb-5">← List of LLM {%
        if mode == 'llm_eval' %}evaluation{% else %}generation{% endif %}
        campaigns</a>
      <h3><img src="{{ host_prefix }}/static/img/{{ mode }}.png" class="inline-icon"> <b>{{ campaign_id }}</b></h3>

      <div id="metadata-block" class="mt-3">
        <hr>
        <dl class="row">
          <dt class="col-sm-3"> Created </dt>
          <dd class="col-sm-9" id="metadata-created"> {{ metadata.created }} </dd>
          <dt class="col-sm-3"> Status </dt>
          <dd class="col-sm-9" id="metadata-status"> {{ metadata.status }} </dd>
          <dt class="col-sm-3"> Examples </dt>
          <dd class="col-sm-9" id="metadata-example-cnt"> {{ finished_examples | length }} / {{ overview | length }}
          </dd>
        </dl>
        <div>
          <a onclick="runLLMCampaign('{{ campaign_id }}')" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
            id="run-button" title="Run" {% if metadata.status=='finished' or metadata.status=='running' %}
            style="display: none;" {% endif %}>
            <i class="fa fa-play"></i> Run {% if mode == 'llm_eval' %}evaluation{% else %}generation{% endif %}
          </a>
          <a onclick="pauseLLMCampaign('{{ campaign_id }}')" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
            id="stop-button" title="Stop evaluation" {% if metadata.status!='running' %} style="display: none;" {% endif
            %}>
            <i class="fa fa-pause"></i> Pause evaluation
          </a>
          <a href="{{ host_prefix }}/export_campaign_outputs?campaign={{ campaign_id }}&mode={{ mode }}"
            class="btn btn-outline-secondary" data-bs-toggle="tooltip" id="download-button" title="Export outputs" {% if
            metadata.status=='idle' %} style="display: none;" {% endif %}>
            <i class="fa fa-download"></i> Download {% if mode == 'llm_eval' %}annotations{% else %}generated outputs{%
            endif %}
          </a>
          {% if mode == 'llm_gen' %}
          <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" id="save-generations-button"
            data-bs-target="#save-generations-modal" class="btn btn-outline-secondary" title="Export as model outputs"
            {% if metadata.status!='finished' %} style="display: none;" {% endif %}>
            <!-- print out metadata.status -->
            <i class="fa fa-file-text"></i> Export as model outputs
          </a>
          {% endif %}
          <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#config-modal"><i
              class="fa fa-cog"></i> Show
            configuration</a>
          {% if mode == 'llm_eval' %}
          <a href="{{ host_prefix }}/analyze/detail?campaign={{ campaign_id }}&source={{ mode }}" type="button"
            class="btn btn-outline-secondary"><i class="fa fa-area-chart"></i> View statistics</a>
          {% endif %}
        </div>
        <div class="progress mt-3" style="display: {{ 'none' if metadata.status != 'running' else block }};"
          id="llm-progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
            id="llm-progress-bar" aria-valuemax="100"
            style="width: {{ (finished_examples|length) / (overview | length) * 100 }}%;">
          </div>
        </div>
        <div id="log-area" class="font-monospace mt-3"></div>
        <hr>
      </div>

      <div id="progress-block" class="mt-3">

        <div id="finished-examples" class="mt-3">
          <h4>Examples</h4>
          {% if mode == 'llm_gen' %}<p><small class="text-muted">To view the outputs in the browse interface, wait until
              all outputs are generated and export them as model outputs.</small></p>{% endif %}
          <div id="llm-status">
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Dataset</th>
                  <th scope="col" {% if mode=='llm_gen' %} style="display: none;" {% endif %}>Setup</th>
                  <th scope="col">Split</th>
                  <th scope="col">Example</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for example in overview %}
                {% set rowId = example.dataset + "-" + example.split + "-" + example.setup_id + "-" +
                (example.example_idx|string) %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ example.dataset }}</td>
                  <td {% if mode=='llm_gen' %} style="display: none;" {% endif %}>{{ example.setup_id }}</td>
                  <td>{{ example.split }}</td>
                  <td>{{ example.example_idx }}</td>

                  <td><span class="badge bg-secondary" id="statusBtn{{ rowId }}">{{ example.status }}</span>
                  </td>
                  <!-- use collapse for hiding annotations -->
                  <td>
                    <a class="btn btn-sm btn-outline-secondary"
                      href="{{host_prefix}}/browse?dataset={{ example.dataset }}&split={{ example.split }}&example_idx={{ example.example_idx }}"
                      role="button">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse"
                      href="#collapseExample{{ rowId }}" role="button" aria-expanded="false" id="annotBtn{{ rowId }}"
                      aria-controls="collapseExample" {% if example.status !="finished" %} style="display: none;" {%
                      endif %}>
                      <i class="fa fa-list"></i>
                    </a>
                  </td>
                <tr class="collapse" id="collapseExample{{ rowId }}">
                  <td colspan="7">
                    <div class="card card-body">
                      <pre id="annotPre{{ rowId }}">{{ example.output }}</pre>
                    </div>
                  </td>
                </tr>
                </tr>
                <!-- correct striping -->
                <tr>
                </tr>
                {% endfor %}
              </tbody>

          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'forms/config_modal.html' %}
  {% include 'forms/save_generations_modal.html' %}
</body>
<script>
  // variable to be used in factgenie.js
  window.url_prefix = "{{ host_prefix }}";
  window.campaigns = "{{ campaigns }}";
  window.llm_examples = "{{ overview | length }}";
  window.mode = "{{ mode }}";

  $(document).ready(function () {
    if ("{{ metadata.status }}" == "running") {
      startLLMCampaignListener("{{ campaign_id }}");
    }
  });
</script>
<script src="{{ host_prefix }}/static/js/factgenie.js"></script>