<!DOCTYPE html>
<html>

<head>
  <title>factgenie</title>
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <link href="{{ host_prefix }}/static/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="width=1024">
  <script src="{{ host_prefix }}/static/js/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/bootstrap.min.js"></script>
</head>

{% include 'navbar.html' %}

<div class="container">
  <!-- <div class="text-center mt-5" style="font-size: 20px; font-weight: bold;">
    Visualize data-to-text generation datasets + annotate LLM outputs.
  </div> -->
  <a href="{{ host_prefix }}/" class="btn btn-outline-secondary mt-5">← Main page</a>

  <div class="mt-5">
    <h3><img src="{{ host_prefix }}/static/img/datasets.png" class="heading-img-inline">
      <b>Model outputs</b>
    </h3>

    <div class="row g-3 mb-3 mt-3 align-items-center">
      <div class="col-auto">
        <span style="margin-left: 5px;">Dataset</span>
      </div>
      <div class="col-auto">
        <select id="dataset-select" class="form-select form-select-sm"
          style="display: inline-block; margin-right: 10px; max-width: 250px;">
          {% for name, dataset in datasets.items() %}
          <option value="{{ name }}">{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <span style="margin-left: 5px;">Split</span>
      </div>
      <div class="col-auto">
        <select id="split-select" class="form-select form-select-sm"
          style="display: inline-block; margin-right: 10px; max-width: 200px;">
        </select>
      </div>
    </div>

    <table class="table table-hover" id="model-out-table">
      <thead>
        <tr>
          <th scope="col">Source</th>
          <th scope="col">Examples</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>


<script>
  // variable to be used in factgenie.js
  window.url_prefix = "{{ host_prefix }}";
  window.datasets = {{ datasets | tojson | safe }};
  window.model_outputs = {{ model_outputs | tojson | safe }};
</script>
<script src="{{ host_prefix }}/static/js/manage.js"></script>